@media only screen and (max-width: 739px) {
  .ftr__links > div + div {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 740px) {
  html {
    background-image: linear-gradient(
      hsl(217, 28%, 15%) 129.9rem,
      hsl(218, 28%, 13%) 129.9rem
    );
  }
  body {
    background-image: url(../images/bg-curvy-desktop.svg);
    background-size: 100% 44.9rem;
    background-position-y: 85rem;
  }
  header {
    max-width: 144rem;
    height: 20rem;
    padding: 7.2rem 8rem;
  }
  header > img {
    width: 17.6rem;
  }
  header > a {
    padding: 1.8rem 0;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: right;
  }
  header > a:nth-of-type(1) {
    width: 10.6rem;
  }
  header > a:nth-of-type(2) {
    width: 10rem;
  }
  header > a:nth-of-type(3) {
    width: 9rem;
  }
  main {
    padding-bottom: 360px;
  }
  .intro {
    width: 72rem;
    margin: 0 auto 16.5rem;
  }
  .intro > h1 {
    margin-bottom: 3rem;
    font-size: 4rem;
    line-height: 6rem;
  }
  .intro > p {
    width: 63rem;
    font-size: 2rem;
    line-height: 3rem;
  }

  .pros {
    width: 74rem;
  }
  .pros__sctn {
    width: 36rem;
  }
  .pros__imgWrap {
    height: 8.8rem;
  }
  .pros__imgWrap > img {
    width: 100%;
  }
  .pros__sctn > h2 {
    font-size: 2rem;
  }

  .colab {
    width: 640px;
    position: relative;
  }
  .colab > img {
    display: inline-block;
    margin-bottom: 0;
  }
  .colab__sctn {
    display: block;
    width: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .comments {
    width: 360px;
  }
  .comments > img {
    display: block;
    width: 54px;
    height: 44px;
    top: 7px;
    left: -7px;
    z-index: -1;
  }
  .comments__sctn {
    display: inline-block;
    width: 360px;
    padding: 40px 25px 20px;
  }
  .comments__sctn > p:first-child {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 21px;
  }

  .register {
    width: 90%;
    max-width: 860px;
    padding: 50px 75px 45px;
    bottom: -115px;
  }
  .register > h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .register > p {
    width: 85%;
    margin: 0 auto 35px;
    font-size: 13px;
    line-height: 21px;
  }

  .button {
    width: 28rem;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 1.9rem 0;
    border-radius: 2.8rem;
  }

  footer {
    padding: 200px 80px 90px;
  }
  .ftr {
    width: 580px;
  }
  .ftr__links {
    overflow: hidden;
  }
  .ftr__links > div {
    float: left;
    width: 150px;
  }
}
@media only screen and (max-width: 1439px) {
  .ftr__info {
    margin-bottom: 80px;
  }
  .ftr__links {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1440px) {
  .pros {
    width: 88rem;
    margin-bottom: 4rem;
  }
  .pros__sctn:nth-child(odd) {
    float: left;
  }
  .pros__sctn:nth-child(even) {
    float: right;
  }

  .colab {
    width: 1220px;
    margin: 0 auto 135px;
  }
  .colab > img {
    width: 50%;
  }
  .colab__sctn {
    width: 555px;
  }
  .colab__sctn > h2 {
    width: 60%;
    font-size: 40px;
    line-height: 50px;
  }
  .colab__sctn > p {
    font-size: 16px;
    line-height: 24px;
  }
  .colab__sctn > a {
    font-size: 16px;
    line-height: 16px;
  }
  .colab__arrow {
    width: 18px;
    height: 18px;
  }

  .comments {
    width: 1160px;
  }
  .comments__sctn + .comments__sctn {
    margin: 0 0 0 40px;
  }

  .email {
    display: inline-block;
    width: 480px;
    margin: 0;
  }
  .register__form > .button {
    display: inline-block;
    width: 200px;
    font-size: 14px;
    line-height: 14px;
    vertical-align: bottom;
  }
  .emailValidateMsg {
    left: 40px;
  }
  .emailValidateMsg + input {
    margin-left: 25px;
  }

  .ftr {
    width: 1280px;
    padding-left: 40px;
  }
  .ftr > div + div {
    display: inline-block;
    vertical-align: top;
  }
  .ftr__imgWrap > img {
    left: 0;
  }
  .ftr__info {
    width: 775px;
  }
  .ftr__info > p {
    display: inline-block;
    width: 460px;
    padding-right: 80px;
  }
  .ftr__contact {
    display: inline-block;
    width: 315px;
    vertical-align: top;
  }
}
